<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koroupware.mappers.DocBoxMapper">
	
	<insert id="insertDoc_box" parameterType="DocBoxVO">
		insert into doc_box(
			doc_box_no,doc_box_name,doc_box_regdate,emp_no
		)
		values (
			seq_doc_box.NEXTVAL,#{doc_box_name},SYSDATE,#{emp_no}
		)
	</insert>
	
	<select id="listDoc_box" parameterType="int" resultType="DocBoxVO">
		select doc_box_no,doc_box_name,db.emp_no,doc_box_regdate 
		from doc_box db join emp e
		on db.emp_no = e.emp_no
		where db.emp_no = #{emp_no}
	</select>
	
	
	<select id="detailDoc_box" parameterType="int" resultType="DocVO">
		select dm.doc_no,doc_title,doc_con_period 
		from doc d 
		join doc_management dm
		on d.doc_no = dm.doc_no
		where dm.doc_box_no = #{doc_box_no}
	</select>
	
	
	<update id="updateDoc_box_name" parameterType="DocBoxVO">
		update doc_box set doc_box_name=#{doc_box_name}
		where doc_box_no=#{doc_box_no}
	</update>
	
	<select id="selectDoc_box" parameterType="int" resultType="DocBoxVO">
		select * from doc_box
		where doc_box_no = #{doc_box_no}
	</select>
	
	
	<delete id="deleteDoc_box" parameterType="int">
		delete from doc_box 
		where doc_box_no = #{doc_box_no}
	</delete>
	
	
</mapper>