<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koroupware.mappers.DocMapper">

	<insert id="insertDoc" parameterType="DocVO">
		insert into doc(
			doc_no,doc_title,doc_explain,doc_contents,doc_regdate,
			doc_con_period,emp_no,doc_formYN,doc_deldate
		)
		values(
			seq_doc.nextval,#{doc_title},#{doc_explain},#{doc_contents},SYSDATE,
			#{doc_con_period},#{emp_no},#{doc_formYN},null
		)
	</insert>
	
	
	<select id="listDoc" resultType="DocVO">
		<!-- select * from doc d join doc_file df
		on d.doc_no = df.doc_no -->
		select * from doc
	</select>
	
	
	
	
	
	<select id="detailDoc" parameterType="int" resultType="DocVO">
		select doc_title,doc_explain,doc_contents,emp_no
		from doc 
		where doc_no=#{doc_no}
	</select>
	
	<select id="selectEmp_name" parameterType="int" resultType="String">
		select emp_name from emp where emp_no = #{emp_no}
	</select>
	
	
	
	
	<insert id="insertDoc_file" parameterType="DocFileVO">
		insert into doc_file(
			doc_file_no, doc_no, doc_file_real_name, doc_file_save_name, doc_file_size
		)
		values(
			seq_doc_file.NEXTVAL, #{doc_no}, #{doc_file_real_name}, #{doc_file_save_name},
			#{doc_file_size}
		)
	</insert>
	
	<select id="selectDoc_file" parameterType="int" resultType="DocFileVO">
		select * from doc_file where doc_no = #{doc_no}
	</select>
	
	
	<update id="deleteDoc" parameterType="int">
		update doc set doc_deldate = SYSDATE
		where doc_no = #{doc_no}
	</update>
	
	
	
	
	<update id="updateDoc" parameterType="DocVO">
		update doc set doc_regdate = SYSDATE,doc_title=#{doc_title},doc_contents=#{doc_contents},
		doc_con_period=#{doc_con_period},doc_explain=#{doc_explain},doc_formYN=#{doc_formYN}
		where doc_no=#{doc_no}
	</update>
	
	
	<select id="nextDoc_no" resultType="int">
		select seq_doc.nextval from dual
	</select>

	<insert id="addAttach" parameterType="DocFileVO">
		insert into doc_file(fullName,doc_no,regdate) 
		values (#{fullName},#{doc_no},sysdate)
	</insert>
	
	<select id="getDoc_no" resultType="int">
		select MAX(doc_no) from doc
	</select>
	
	<select id="getAttach" resultType="string">
		select fullName from doc_file where doc_no=#{doc_no} order by regdate
	</select>
	
	<insert id="replaceAttach">
		insert into doc_file(fullName,doc_no) values(#{fullName},#{doc_no})
	</insert>
	
	<update id="deleteAttach">
		update doc_file set deldate = SYSDATE
		where doc_no = #{doc_no}
	</update>
</mapper>