<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koroupware.mappers.ElecauthMapper">

	<select id="elecauthList" resultType="ElecauthListVO">
		SELECT 
		DISTINCT ea.elec_auth_no, ea.elec_auth_title, ea.elec_auth_regdate,
		ea.elec_auth_enddate,
		do.doc_title, de.dept_name, e.emp_name, appr.approval_list_pass
		
		FROM elec_auth ea, doc do, dept de, emp e, approval_list appr
		WHERE ea.emp_no=e.emp_no
		AND ea.doc_no=do.doc_no
		AND ea.elec_auth_management_dept_no=de.dept_no
		AND ea.elec_auth_no=appr.elec_auth_no
	</select>
	
	<select id="elecauthRead" resultType="ElecauthReadVO">
		SELECT ea.elec_auth_no, ea.elec_auth_enddate, ea.elec_auth_regdate, ea.elec_auth_con_period,
			ea.elec_auth_title, ea.elec_auth_contents, ea.emp_no, d.doc_title, e.emp_name
		FROM elec_auth ea, doc d, emp e
		WHERE ea.doc_no=d.doc_no
		AND ea.emp_no=e.emp_no
		AND ea.elec_auth_no=#{elec_auth_no}
	</select>
	
	<select id="elecauthReadApproval" resultType="ElecauthReadApprovalVO" parameterType="Integer">
		SELECT a.elec_auth_no, a.emp_no, a.approval_list_pass, a.approval_list_step, a.approval_list_date,
			e.emp_name, o.office_name
		FROM elec_auth ea, approval_list a, emp e, office o
		WHERE ea.elec_auth_no=a.elec_auth_no
		AND a.emp_no=e.emp_no
		AND e.office_no=o.office_no
		AND ea.elec_auth_no=#{elec_auth_no}
	</select>
	
	<select id="elecauthReadReferrer" resultType="ElecauthReadReferrerVO" parameterType="Integer">
		SELECT er.elec_auth_referrer_no, ea.elec_auth_no, er.emp_no, e.emp_name, d.dept_name
		FROM elec_auth ea, elec_auth_referrer er, emp e, dept d
		WHERE ea.elec_auth_no=er.elec_auth_no
		AND er.emp_no=e.emp_no
		AND e.dept_no=d.dept_no
		AND ea.elec_auth_no=#{elec_auth_no}
	</select>

</mapper>  

