<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koroupware.mappers.EmpMapper">

	<insert id="signUp" parameterType="EmpVO">
	 insert into emp(
	 	emp_no, dept_no, office_no, posittion_no, emp_superior, emp_reporter,
	 	emp_name, emp_email, emp_id, emp_password, emp_address, emp_approvalyn,
	 	emp_residentNum, emp_hiredate, emp_email_sign, emp_elec_auth_signkey, emp_img, emp_elec_auth_img
	 ) values(
	 	seq_emp.nextval, 0, 0, 0, 0, 0, #{emp_name}, #{emp_email}, #{emp_id}, #{emp_password}, N,
	 	#{emp_residentNum_left}||#{emp_residentNum_right}, sysdate, '안녕하세요'||#{emp_name}||'입니다.',
		#{emp_elec_auth_signkey}, 'emp_img.jpg', 'emp_elec_auth_img.jpg'
	 )
	</insert>
	
</mapper>  

