<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koroupware.member.mapper.memberMapper">
	<select id = "FindId_ListEmp" resultType="EmpVO">
		select emp_id, emp_residentnumber from emp 
	</select>
	
	<select id="FindNo_ListEmp" resultType="EmpVO">
		select emp_id, emp_residentnumber, emp_no from emp
	</select>
	
	<insert id="SignUp" parameterType="EmpVO">
			insert into EMP(
			emp_no, emp_name, dept_no, emp_email, emp_id, emp_password, emp_address, emp_approvalyn, 
				emp_residentnumber, emp_hiredate, emp_img, emp_elec_auth_img, emp_superior, 
				emp_reporter, position_no, office_no, emp_elec_auth_signkey) 
			values( 
				seq_emp.NEXTVAL, #{emp_name}, 1, #{emp_email}, #{emp_id}, #{emp_password}, #{emp_address}, 'N', 
				#{emp_residentnumber}, SYSDATE, #{emp_img}, #{emp_elec_auth_img}, 1, 1, 1, 1, #{emp_elec_auth_signkey}
				) 
	</insert>
	
 	<select id="login" resultType="EmpDTO">
 		select * from emp
 			where emp_id= #{emp_id} and emp_password = #{emp_password}
 	</select>
 	
 	<select id="find_Email" resultType="EmpVO">
 		select emp_email from emp
 			where emp_no = #{emp_no}
 	</select>
 	
 	<update id="updatePwd">
 		UPDATE emp SET EMP_PASSWORD = #{emp_password} where EMP_EMAIL= #{emp_email}
 	</update>

</mapper>