<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koroupware.board.mappers.ScheduleMapper">

	<insert id="insertSchedule" parameterType="ScheduleVO">
		insert into schedule(
			schedule_no, schedule_regdate, schedule_title, schedule_contents, emp_no, schedule_start
		)values(
			#{schedule_no}, SYSDATE, #{schedule_title}, #{schedule_contents}, #{emp_no}, #{schedule_start}
		)
	</insert>
	
	<select id="maxNumber" resultType="Integer">
		select max(schedule_no) from schedule
	</select>
	
	<select id="listSchedule" resultType="ScheduleVO">
		select * from schedule s
			where emp_no = #{emp_no}
			and schedule_start = #{schedule_start}
	</select>
</mapper>  

