@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css); 

.div-login-form{
 border-radius : 15px;
 margin-top: 130px;
 box-shadow: 5px 5px 5px 5px lightgray; /* 그림자 */
}

.main-font{
 text-align: center;
 margin-top: 20px;
}
.main-font1{
   font-family: 'Product Sans', Arial, sans-serif;
   color : #0080c0;
   font-size: 55px;
}

.main-font2{
   font-family: 'Product Sans', Arial, sans-serif;
   color : #E64A19;
   font-size: 50px;
}
.main-font3{
   font-family: 'Product Sans', Arial, sans-serif;
   color : #43A047;
   font-size: 50px;
}
.main-font4{
   font-family: 'Product Sans', Arial, sans-serif;
   color : #F9A825;
   font-size: 50px;
}
.main-font5{
   font-family: 'Product Sans', Arial, sans-serif;
   color : #E64A19;
   font-size: 50px;
}
.main-font6{
   font-family: 'Product Sans', Arial, sans-serif;
   color : #0080c0;
   font-size: 50px;
}
.main-font7{
   font-family: 'Product Sans', Arial, sans-serif;
   color : #43A047;
   font-size: 50px;
}
.main-font8{
   font-family: 'Product Sans', Arial, sans-serif;
   color: #F9A825;
   font-size: 50px;
}
.main-font9{
   font-family: 'Product Sans', Arial, sans-serif;
   color: #0080c0;
   font-size: 50px;
}
.main-font10{
   font-family: 'Product Sans', Arial, sans-serif;
   color : #E64A19;
   font-size: 50px;
} 
.signUp-idPass{ 
 margin-top: 10px;
 text-align: right;
 margin-bottom: 30px;
}
 
.signUp{
 font-family: 'Noto Sans KR', sans-serif; 
 color: #0080c0;
 margin-right: 10px;
}

.login-submit{
 font-family: 'Noto Sans KR', sans-serif; 
 margin-top: 10px; 
 background-color: #43A047;
 color: white;
}
.login-submit:hover {
 background-color: #43A047;
 color: white;
}
.input-group{
 margin-top: 8px;
 margin-bottom: 8px;
}
.input-id{
  font-family: 'Noto Sans KR', sans-serif; 
}
.input-pass{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 8px;
}
.idPassSearch{
 font-family: 'Noto Sans KR', sans-serif; 
 color: #0080c0;
}