
#todaynews_div{
	/* border-right: solid 1px #c0c0c0;
	width: 500px;
	float: left; */
}

#todaynews_detail{
	/* width: 400px;
	float: left;
	text-align: center; */
	/*display: none;*/
}

#white-popup-block{
	background:#FFF;
	padding:20px 30px;
	text-align:left;
	max-width:650px;
	margin:40px auto;
	position:relative
}

.newsdesc:hover {
	background-color: #e8e8e8;
}

.detail_title {
	color: #0080c0;
	clear: both;
}

.detail_pubdate{
	color: #c0c0c0;
}

.padding_topbottom{
	padding-top: 20px;
	padding-bottom: 20px; 
}

.padding_top{
	padding-top: 20px;
}

.padding_bottom{
	padding-bottom: 20px;
}

.margin_left{
	margin-left: 20px;
}

.title {
	font-size: 14px;
	font-weight: bold;
	color: #0080c0;
	padding-left: 10px;
}

.category {
	color: #c0c0c0;
	font-style: italic;
}
.description {
	color: #c0c0c0;
	font-size: 12px;
}
.link {
	display: none;
}

iframe {
	display: none;
}

#white-popup-block img {
	display: block;
	padding-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

#white-popup-block img[src*=btn_news_more]{
	display: none;
}

#todaynews_div img {
	display: none;
	margin: 5px;
}

div.recommend{
	display: none;
}

#newsCompany_div{
	margin-top: 10px;
}

/** magnific popup customize */

/* Styles for dialog window */
#white-dialog {
	background: white;
	padding: 20px 30px;
	text-align: left;
	max-width: 400px;
	margin: 40px auto;
	position: relative;
}

/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
	opacity: 0;

	-webkit-transition: all 0.2s ease-in-out; 
	-moz-transition: all 0.2s ease-in-out; 
	-o-transition: all 0.2s ease-in-out; 
	transition: all 0.2s ease-in-out; 



	-webkit-transform: scale(0.8); 
	-moz-transform: scale(0.8); 
	-ms-transform: scale(0.8); 
	-o-transform: scale(0.8); 
	transform: scale(0.8); 
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
	opacity: 1;

	-webkit-transform: scale(1); 
	-moz-transform: scale(1); 
	-ms-transform: scale(1); 
	-o-transform: scale(1); 
	transform: scale(1); 
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
	-webkit-transform: scale(0.8); 
	-moz-transform: scale(0.8); 
	-ms-transform: scale(0.8); 
	-o-transform: scale(0.8); 
	transform: scale(0.8); 

	opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-out; 
	-moz-transition: opacity 0.3s ease-out; 
	-o-transition: opacity 0.3s ease-out; 
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}
